<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Snow Cleaning Schedule</title>
</head>

<body>
  <div style="text-align:center">
    <h1>
      {{ title }}</h1>

  </div>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="/data/add" *ngIf="auth.loggedIn">Add Data</a>
    <a class="navbar-brand" routerLink="/generate" *ngIf="auth.loggedIn">Generate</a>
    <a class="navbar-brand" routerLink="login" routerLinkActive="active" *ngIf="!auth.loggedIn">Login</a>
    <a class="navbar-brand" (click)="logout()" *ngIf="auth.loggedIn">Logout</a>
  </nav>
  <br>
  <router-outlet>
    <img src="../assets/hand-clearing.jpg" *ngIf="!auth.loggedIn" style="position:absolute; width: 100%" />
  </router-outlet>
</body>

</html>