/* You can add global styles to this file, and also import other style files */

/* Add data forms styles */
.group-block {
   margin: 10px;
   width: 80%;
}

.group-block input {
   margin-right: 10px;
}

.group-block button {
   margin-left: 15px;
}

button:disabled {
   cursor: no-drop;
}

.btn-long {
   padding: 6px 50px;
}

.p-10 {
   padding: 10px;
}
